{% extends 'base.html.twig' %}

{% block body %}
  Register <br>
  Checkout works
  <div class="row">
    <div class="col-12">
    <form action="{{ path('checkout') }}" method="post">
        <div>
            <div class="form-group">
                <label class="form-control-label required" for="total">Total</label>
                <input type="text" id="total" name="total_cost" required="required" class="form-control">
            </div>
            <div class="form-group">
                <label class="form-control-label required" for="password">Tendered amount</label>
                <input type="text" id="amount_tendered" name="amount_provided" required="required" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" id="Login" name="checkout" class="btn-secondary btn">Checkout</button>
            </div>
            <table>
              <tr>
                <td>Hundred: <input type="text" id="Hundred" name="Hundred" class="form-control"></td>
                <td>Fifty: <input type="text" id="Fifty" name="Fifty" class="form-control"></td>
                <td>Twenty: <input type="text" id="Twenty" name="Twenty" class="form-control"></td>
                <td>Ten: <input type="text" id="Ten" name="Ten" class="form-control"></td>
                <td>Five: <input type="text" id="Five" name="Five" class="form-control"></td>
                <td>One: <input type="text" id="One" name="One" class="form-control"></td>
              </tr>
            </table>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}">
        </div>
    </form>

    </div>

  </div>

{% endblock %}
